/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/.clj-kondo
/.lsp
/doc
CHANGELOG.md
LICENSE
# clj-kondo cache
.clj-kondo/

# LSP cache
.lsp/

# Documentation (generated)
doc/

# License files
LICENSE
CHANGELOG.md
