name: CI

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '11'
    
    - name: Install Leiningen
      run: |
        wget https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein
        chmod +x lein
        sudo mv lein /usr/local/bin/
        lein version
    
    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/project.clj') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    
    - name: Install dependencies
      run: lein deps
    
    - name: Run linter
      run: lein cljfmt check
    
    - name: Run linter (kibit)
      run: lein kibit
      continue-on-error: true
    
    - name: Run linter (bikeshed)
      run: lein bikeshed --max-line-length 120
      continue-on-error: true
    
    - name: Run tests
      run: lein test
    
    - name: Build project
      run: lein uberjar